.root {
  width: 420px;
  height: 552px;

  background-color: var(--color-bg-paper);
  border: var(--color-border-primary);
  border: 1px;
  border-radius: 2px;
  box-shadow:
    1px 1px 2px rgb(0 0 0 / 1%),
    -1px -1px 2px rgb(0 0 0 / 1%);
}
